<section class="kitchen container">
    <h2 class="kitchen-title">Amet minim mollit non</h2>
    <h1 class="">MIMIHO</h1>
    <ul class="kitchen-list">
        <li class="kitchen-item">
            <p class="kitchen-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <img src="" alt="" width="244" class="kitchen-img">
        </li>
        <li class="kitchen-item">
            <p class="kitchen-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <img src="" alt="" width="200" class="kitchen-img">
        </li>
    </ul>
</section>