<section class="about-our-hotel">
<div class="one-hotel">
<p class="pre-caption">Amet minim mollit non</p>
<h2 class="caption-hotel">MIMIHO</h2>
<p class="paragraph-hotel">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
<img src="#" alt="" width="244" height="322">    
</div>
<div class="two-hotel">
<img src="#" alt="" width="200" height="278">
<p class="gold-paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
</div>

</section>