<section class="about-our-hotel">
<div class="one-hotel">
<h2 class="details visually-hidden">HOTEL</h2>
<p class="pre-caption-hotel">Amet minim mollit non</p>
<h3 class="caption-hotel">MIMIHO</h3>
<p class="paragraph-hotel">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
<img src="../img/homepage_hotelrooms_1_desktop.jpg" alt="" width="244" height="322">    
</div>
<div class="two-hotel">
<img src="../img/homepage_hotelrooms_2_desktop.jpg" alt="" width="200" height="278">
<p class="gold-paragraph-hotel">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
</div>

</section>