<section class="about-our-restaurant">
    <div class="container">
    <h2 class="details visually-hidden">RESTAURANT</h2>
    <p class="pre-caption-rest">Amet minim mollit non</p>
    <h3 class="caption-restaurant">MIMIHO</h3>
    <p class="paragraph-restaurant">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <picture>
        <source srcset="
        ./img/homepage_restaurant_interior_1_mobile.jpg 1x ,
        ./img/homepage-tables-rest-mob2x.jpg 2x" 
        media="(min-width: 320px)"
        type="image/jpeg"
        />
        <source srcset="
        ./img/homepage_restaurant_interior_1_tablet.jpg 1x ,
        ./img/homepage-tables-rest-tab2x.jpg 2x" 
        media="(min-width: 1024px)"
        type="image/jpeg"
        />
        <source srcset="
        ./img/homepage_restaurant_interior_1_dekstop.jpg 1x ,
        ./img/homepage-tables-rest-dek2x.jpg 2x"
        media="(min-width: 1280px)"
        type="image/jpeg"
        />
    <img class="rest-one" src="../img/homepage_restaurant_interior_1_mobile.jpg" alt="tables" width="460" height="574">
    </picture>
    <picture>
        <source srcset="
        ./img/homepage_restaurant_interior_2_mobile.jpg 1x ,
        ./img/homepage-chairs-rest-mob2x.jpg 2x" 
        media="(min-width: 320px)"
        type="image/jpeg"
        />
        <source srcset="
        ./img/homepage_restaurant_interior_2_tablet.jpg 1x ,
        ./img/homepage-chairs-rest-tab2x.jpg 2x" 
        media="(min-width: 1024px)"
        type="image/jpeg"
        />
        <source srcset="
        ./img/homepage_restaurant_interior_2_dekstop.jpg 1x ,
        ./img/homepage-chairs-rest-dek2x.jpg 2x"
        media="(min-width: 1280px)"
        type="image/jpeg"
        />
    <img class="rest-two" src="../img/homepage_restaurant_interior_2_mobile.jpg" alt="chairs" width="460" height="574">
    </picture>
    <p class="gold-paragraph-rest">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
</section>