<section class="about-our-hotel">
  <div class="container">
    <div class="first-hotel">
        <div class="container-hotel">
    <h2 class="details visually-hidden">HOTEL</h2>
    <p class="pre-caption-hotel">Amet minim mollit non</p>
    <h3 class="caption-hotel">MIMIHO</h3>
    <p class="paragraph-hotel">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
</div>
    <picture>
      <source
        srcset="
          ./img/homepage_hotelrooms_1_mobile.jpg 1x,
          ./img/hotelrooms-mob2x.jpg              2x
        "
        media="(min-width: 320px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./img/homepage_hotelrooms_1_tablet.jpg 1x,
          ./img/hotelrooms-tab2x.jpg           2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./img/homepage_hotelrooms_1_dekstop.jpg 1x,
          ./img/hotelrooms-dek2x.jpg               2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
      />
      <img
        class="hotel-one"
        src="./img/homepage_hotelrooms_1_mobile.jpg"
        alt="room"
        width="460"
        height="574"
      />
    </picture>
</div>
<div class="second-hotel">
    <p class="gold-paragraph-hotel">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
        <source srcset="
        ./img/homepage_hotelrooms_2_mobile.jpg 1x,
        ./img/registration-home-mob2x.jpg 2x"
        media="(min-width: 320px)"
        type="image/jpeg"
         />
        <source srcset="
        ./img/homepage_hotelrooms_2_tablet.jpg,
        ./img/registration-home-tablet2x.jpg 2x"
        media="(min-width: 1024px)"
        type="image/jpeg"
        />
        <source srcset="
        ./img/homepage_hotelrooms_2_dekstop.jpg,
        ./img/registration-home-dek2x.jpg 2x"
        media="(min-width: 1280px)"
        type="image/jpeg"
        />
    <img
      class="hotel-two"
      src="./img/homepage_hotelrooms_2_mobile.jpg"
      alt="registration"
      width="460"
      height="574"
    />
</picture>
</div>
  </div>
</section>
