<section class="kitchen">
    <div class="container">
        <h2 class="kitchen-title-hidden visually-hidden">About our kitchen</h2>
        <h3 class="kitchen-title">Amet minim mollit non</h3>
        <p class="">MIMIHO</p>
        <ul class="kitchen-list">
            <li class="kitchen-item">
                <p class="kitchen-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
                <img 
                src=""
                srcset="" 
                alt="" 
                width="244">
            </li>
            <li class="kitchen-item">
                <p class="kitchen-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
                <img 
                src="" 
                srcset=""
                alt="" 
                width="200">
            </li>
        </ul>
    </div>
</section>