<section class="about-restaurant">
    <div class="container">
        <h2 class="about-restaurant-title-hidden visually-hidden">About our kitchen</h2>
        <h3 class="about-restaurant-title">Amet minim mollit non</h3>
        <p class="about-restaurant-name">MIMIHO</p>
        <div class="about-restaurant-wrap">
            <ul class="restaurant-list">
                <li class="about-restaurant-item">
                    <div class="about-restaurant-item-wrap top">
                        <p class="about-restaurant-text top">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                        <img src="/img/homepage_restaurant_interior_1_mobil.jpg"
                        srcset="/img/homepage_restaurant_interior_1_mobil.jpg 264w, /img/homepage_restaurant_interior_1_tablet.jpg 400w, /img/homepage_restaurant_interior_1_desktop.jpg 460w"
                        alt="restaurant photo" 
                        width="264"
                        class="about-restaurant-img top">
                    </div>`
                </li>
                <li class="about-restaurant-item">
                   <div class="about-restaurant-item-wrap btm">
                        <p class="about-restaurant-text btm">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                        <img src="/img/homepage_restaurant_interior_2_mobil.jpg"
                        srcset="/img/homepage_restaurant_interior_2_mobil.jpg 264w, /img/homepage_restaurant_interior_2_tablet.jpg 400w, /img/homepage_restaurant_interior_2_desktop.jpg 460w"
                        alt="restaurant interior" 
                        width="200"
                        class="about-restaurant-img btm">
                   </div>
                </li>
            </ul>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./img/rest-slide-1.jpg"
                class="swiper-about-rest"
                alt="Glass of red wine"
                width="245">
              </div>
              <div class="swiper-slide">
                <img src="./img/rest-slide-2.jpg"
                class="swiper-about-rest"
                alt="Table with many plates"
                width="245">
              </div>
            </div>
          </div>
    </div>
</section>