<section class="kitchen">
    <div class="container">
        <h2 class="kitchen-title-hidden visually-hidden">About our kitchen</h2>
        <h3 class="kitchen-title">Amet minim mollit non</h3>
        <p class="kitchen-name">MIMIHO</p>
        <div class="kitchen-wrap">
            <ul class="kitchen-list">
                <li class="kitchen-item">
                    <div class="kitchen-item-wrap top">
                        <p class="kitchen-text top">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                        <img src="./img/restaurant_1_mobile.jpg"
                        srcset="./img/restaurant_1_mobile.jpg 264w, ./img/restaurant_1_tablet.jpg 400w, ./img/restaurant_1_desktop.jpg 460w"
                        alt="Man is cooking" 
                        width="264"
                        class="kitchen-img top">
                    </div>`
                </li>
                <li class="kitchen-item">
                   <div class="kitchen-item-wrap btm">
                        <p class="kitchen-text btm">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                        <img src="./img/restaurant_2_mobile.jpg"
                        srcset="./img/restaurant_2_mobile.jpg 200w, ./img/restaurant_2_tablet.jpg 350w, ./img/restaurant_2_desktop.jpg 460w"
                        alt="Fresh meat" 
                        width="200"
                        class="kitchen-img btm">
                   </div>
                </li>
            </ul>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./img/kitchen-slide-1-mobile.jpg"
                alt="Man`s hands"
                width="245">
              </div>
              <div class="swiper-slide">
                <img src="./img/kitchen-slide-2-mobile.jpg"
                alt="Khinkali"
                width="245">
              </div>
            </div>
            <div class="swiper-arrow">
              <ul class="swiper-arrow-list kitchen-swiper kit">
                <li class="arrow-item">
              <svg class="icon-arrow" width="32" height="32">
               <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
              </svg>
                </li>
                <li class="arrow-item">
                  <svg class="icon-arrow" width="32" height="32">
                    <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
                   </svg>
                </li>
              </ul>
            </div>
          </div>
          </div>
    </div>
</section>