<section class="amenities">
  <h2 class="room-page-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
  <p class="room-page-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul class="room-page-list list">
    <li class="room-page-item">
      <h3 class="room-page-undertitle">ЗАГАЛЬНІ</h3>
      <p class="room-page-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <p class="room-page-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </li>
    <li class="room-page-item">
      <h3 class="room-page-undertitle">ВАННА КІМНАТА</h3>
      <p class="room-page-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <p class="room-page-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </li>
    <li class="room-page-item">
      <h3 class="room-page-undertitle">СПАЛЬНЯ</h3>
      <p class="room-page-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
    </li>
    <li class="room-page-item">
      <h3 class="room-page-undertitle">КУХНЯ</h3>
      <p class="room-page-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
      <p class="room-page-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
    </li>
    <li class="room-page-item">
      <h3 class="room-page-undertitle">МЕДІА</h3>
      <p class="room-page-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </li>
  </ul>
  <button type="button" class="booking-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
  <a href="" class="room-page-link link">Повернутися до перегляду номерів</a>
  <svg class="room-page-icon" width="24" height="24">
    <use href="#"></use>
  </svg>
</section>
