<section class="amenities">
  <div class="container">
    <h2 class="room-page-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="room-page-undertitle">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="room-page-list list">
      <li class="room-page-item">
        <h3 class="room-page-liltitle">ЗАГАЛЬНІ</h3>
      <div class="text-wrap">
          <p class="room-page-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="room-page-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
      </div>
      </li>
      <li class="room-page-item">
        <h3 class="room-page-liltitle">ВАННА КІМНАТА</h3>
        <div class="text-wrap">
          <p class="room-page-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="room-page-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="room-page-item">
        <h3 class="room-page-liltitle">СПАЛЬНЯ</h3>
        <div class="text-wrap">
          <p class="room-page-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="room-page-item">
        <h3 class="room-page-liltitle">КУХНЯ</h3>
        <div class="text-wrap">
          <p class="room-page-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="room-page-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="room-page-item">
        <h3 class="room-page-liltitle">МЕДІА</h3>
        <div class="text-wrap">
          <p class="room-page-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>
    <div class="amenities-bottom-wrap">
      <button type="button" class="booking-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
      <a href="" class="room-page-link link">Повернутися до перегляду номерів
         <svg class="room-page-icon" width="24" height="24">
        <use href="../img/symbol-defs.svg#icon-phone"></use>
      </svg>
      </a>
    </div>
   
  </div>
</section>
