<section class="contacts contacts-section">
  <div class="container contacts-container">
    <h2 class="contacts-title visually-hidden">Контакти</h2>
    <div class="tablet-wrap">
      <h3 class="contacts-logo-title">МІМІНО</h3>
      <p class="contacts-under-title">Ресторанно-готельний комплекс</p>

      <ul class="contacts-list list">
        <li class="contacts-item">
          <div class="contacts-wrap">
            <p class="contacts-text-rest">Ресторан</p>
            <div class="contacts-rest-tels">
              <a class="contacts-rest-tel link" href="tel:+380955559533">
                095 555 95 33
              </a>
            </div>
          </div>
        </li>

        <li class="contacts-item">
          <div class="contacts-wrap">
            <p class="contacts-text-hotel">Готель</p>
            <ul class="contacts-hotels-tels">
              <li class="contacts-hotel-tel">
                <a class="contacts-hotel-link link" href="tel:+380668491089">
                  066 849 10 89
                </a>
              </li>
              <li class="contacts-hotel-tel">
                <a class="contacts-hotel-link link" href="tel:+380672758540">
                  067 275 85 40
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="contacts-address-tap">
        <address class="contacts-address">
          <a
            class="contacts-address-link link"
            href="https://goo.gl/maps/beKyGNSSrUfEZE1dA"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
          </a>
          <a
            class="contacts-address-text link"
            href="https://goo.gl/maps/beKyGNSSrUfEZE1dA"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            Україна, м. Полтава, вул. Маршала Бірюзова, 15
          </a>
        </address>
      </div>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9233981195034!2d34.524357615661536!3d49.59919397936697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1sru!2spl!4v1676566589099!5m2!1sru!2spl"
      width="384"
      height="220"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

  </div>
</section>
