<section class="details-of-our-hotel">
<h2 class="details visually-hidden">HOTEL</h2>
<p class="hero-name-hotel">MIMIHO</p>
<h2 class="hotel-name">Готель</h2>
<p class="info-hotel">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
<!-- <ul class="details-hotel-list">
<li class="details-hotel-item"><img src="#" alt="" width="274" height="270"></li>
<li class="details-hotel-item"><img src="#" alt="" width="274" height="270"></li>
</ul> -->
<a class="book-a-room" href="">Забронювати номер</a>
<a class="hotel-link" href="../hotel-page.html">Переглянути ціни</a>
</section>