<section class="details-of-our-restaurant">
<h2 class="details">RESTAURANT</h2>
<p class="hero-name-restaurant">MIMIHO</p>
<h2 class="restaurant-name">Ресторан</h2>
<p class="info-restaurant">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
<!-- <ul class="details-restaurant-list">
    <li class="details-restaurant-item"><img src="#" alt="" width="274" height="270"></li>
    <li class="details-restaurant-item"><img src="#" alt="" width="274" height="270"></li>
</ul> -->
<button type="button" class="book-a-table">Забронювати столик</button>
<a class="restaurant-link" href="../restaurant-page.html"><button type="button" class="look-menu">Переглянути меню</button></a>
</section>