<section class="details-of-our-hotel">
<div class="container">
<div class="info-hot">
<h2 class="details visually-hidden">HOTEL</h2>
<p class="hero-name-hotel">MIMIHO</p>
<h2 class="hotel-name">Готель</h2>
<p class="info-hotel">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
</div>
<!-- <ul class="details-hotel-list">
<li class="details-hotel-item"><img src="#" alt="" width="274" height="270"></li>
<li class="details-hotel-item"><img src="#" alt="" width="274" height="270"></li>
</ul> -->
<div class="option">
<button type="button" class="book-a-room js-open-modal" data-modal="2" href="">Забронювати номер</button>
<a class="hotel-link" href="./hotel-page.html">Переглянути ціни</a>
</div>
</section>