<section class="details-of-our-hotel">
  <div class="container det-hotel-container">
    <div class="det-hotel">
      <h2 class="details visually-hidden">HOTEL DETAILS</h2>
      <h3 class="det-hotel-title">MIMIHO</h3>
      <h4 class="det-hotel-undertitle">Готель</h4>
      <p class="det-hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="det-hotel-big-wrap">
      <div class="det-hotel-swiper-wrap">
        <div class="det-hotel-swiper">
          <ul class="det-hotel-swiper-list">
            <li class="det-hotel-swiper-item">
              <img
                src="./img/homepage_hotel_3_mobile.jpg"
                alt="приклад сніданку"
                width="274"
                height="270"
              />
            </li>
            <li class="det-hotel-swiper-item">
              <img
                src="./img/homepage_hotel_3_mobile.jpg"
                alt="ліжко в номері"
                width="274"
                height="270"
              />
            </li>
          </ul>
        </div>

        <div class="det-arrow-wrap">
          <ul class="det-arrow-list">
            <li class="det-arrow-item">
              <svg class="det-arrow-icon" width="32" height="32">
                <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
              </svg>
            </li>
            <li class="det-arrow-item">
              <svg class="det-arrow-icon" width="32" height="32">
                <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>

      <div class="det-hotel-buttons">
        <button
          type="button"
          class="book-a-room-det js-open-modal"
          data-modal="2"
          href=""
        >
          Забронювати номер
        </button>
        <a class="hotel-link-det" href="./hotel-page.html">Переглянути ціни </a>
      </div>
    </div>
  </div>
</section>