<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <!--Logo-->
      <div class="footer-logo-pol">
        <a href="./index.html" class="footer-logo">mimino</a>
      </div>

      <!--Menu-->
      <div class="footer-menu-soc">
        <div class="footer-menu">
          <ul class="footer-list">
            <li class="footer-item">
              <a class="footer-link" href="./index.html">Головна</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="./restaurant-page.html">Ресторан</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="./hotel-page.html">Готель</a>
            </li>
          </ul>
        </div>
        <div class="footer-social-media">
          <ul class="footer-socmedia">
            <li class="footer-socmedia-list">
              <a
                class="footer-socmedia-link"
                href="https://www.instagram.com/"
                target="_blank"
                ><span class="footer-socmedia-hidden">Instagram</span>
                <svg class="footer-socmedia-icon" width="24" height="24">
                  <use href="./img/symbol-defs.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li class="footer-socmedia-list">
              <a
                class="footer-socmedia-link"
                href="https://uk-ua.facebook.com/"
                target="_blank"
                ><span class="footer-socmedia-hidden">Facebook</span>
                <svg class="footer-socmedia-icon" width="24" height="24">
                  <use href="./img/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-socmedia-list">
              <a
                href="https://telegram.org/?setln=uk"
                target="_blank"
                class="footer-socmedia-link"
                ><span class="footer-socmedia-hidden">Telegram</span>
                <svg class="footer-socmedia-icon" width="24" height="24">
                  <use href="./img/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
