<footer class="footer">
  <a href="../index.html" class="logo">MIMIHO</a>

  <div class="footer-menu">
 
    <ul class="footer-list">
      <li class="footer-item"><a href="../index.html">Головна</a></li>
      <li class="footer-item"><a href="../restaurant-page.html">Ресторан</a></li>
      <li class="footer-item">
        <a href="../hotel-page.html">Готель</a>
      </li>
    </ul>
  </div>

  <div class="footer-social-media">
   
    <ul class="footer-socmedia-list">
      <li class="footer-socmedia-list">
        <a href="" class="footer-socmedia-link"
          >Telegram
          <svg class="footer-socmedia-icon" width="19" height="17">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li class="footer-socmedia-list">
        <a href="" class="footer-socmedia-link"
          >Facebook
          <svg class="footer-socmedia-icon" width="19" height="17">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li class="footer-socmedia-list">
        <a href="" class="footer-socmedia-link"
          >Instagram
          <svg class="footer-socmedia-icon" width="19" height="17">
            <use href=""></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
