<header>

 <div class="container">

    <a href="../index.html" class="logo">MIMINO</a>

    <nav class="header-nav">
      <ul class="header-nav-ul">
        <li class="header-nav-li">
          <a href="../restaurant-page.html" class="link-nav">Ресторан</a>
          
          <a href="tel:0955559533"><svg class="" width="24" height="24">
              <use href="#"></use>
            </svg>095 555 95 33</a>
          
        </li>
  
        <li>
          <a href="../hotel-page.html" class="link-nav">Готель</a>
          
         <a href="tel:0668491089"><svg class="" width="24" height="24">
              <use href="#"></use>
            </svg>066 849 10 89</a>
         
        </li>
      </ul>
    </nav>
  
    <ul class="social-ul">
      <li class="social-li">
        <a href="https://www.instagram.com/" class="social-link" target="_blank" rel="noreferrer noopener"><svg class="instagram" width="24" height="24">
          <use href="#"></use>
        </svg>#</a>
      </li>
      <li>
        <a href="https://www.facebook.com/" class="social-link" target="_blank" rel="noreferrer noopener"><svg class="facebook" width="24" height="24">
          <use href="#"></use>
        </svg>#</a>
      </li>
      <li>
        <a href="https://web.telegram.org/" class="social-link" target="_blank" rel="noreferrer noopener"><svg class="telegram" width="24" height="24">
          <use href="#"></use>
        </svg>#</a>
      </li>
    </ul>
 </div>
</header>
