<section class="hero-rest">
  <div class="container">
    <h1 class="hero-rest-title">MIMIHO</h1>
    <p class="hero-rest-text">Ресторан</p>
    <p class="hero-rest-text-graph">СМАК ЖИТТЯ 24/7</p>
    <div class="hero-rest-address-tap">
      <address class="hero-rest-address">
        <a
          class="hero-rest-address-link link"
          href="https://goo.gl/maps/beKyGNSSrUfEZE1dA"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
        </a>
        <a
          class="hero-rest-address-text link"
          href="https://goo.gl/maps/beKyGNSSrUfEZE1dA"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          Україна, м. Полтава, вул. Маршала Бірюзова, 15
        </a>
      </address>
    </div>
    <div class="container-btn">
      <ul class="hero-rest-list">
        <li class="hero-rest-item">
          <button class="hero-rest-btn-teble" type="button">
            Забронювати столик
          </button>
        </li>
        <li class="hero-rest-item">
          <button class="hero-rest-btn-menu" type="button">
            Переглянути меню
          </button>
        </li>
      </ul>
    </div>
    <ul class="hero-rest-soc-list">
      <li class="hero-rest-soc-item">
        <a href="#" class="hero-rest-soc-link">
          <svg class="hero-rest-soc-icon" width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-instagram-2"></use>
          </svg>
        </a>
      </li>
      <li class="hero-rest-soc-item">
        <a href="#" class="hero-rest-soc-link">
          <svg class="hero-rest-soc-icon" width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-rest-soc-item">
        <a href="#" class="hero-rest-soc-link">
          <svg class="hero-rest-soc-icon" width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
