<section class="hero-room hero-room-two container">
    <!-- <div class="container"> -->
      <h1 class="hero-room-title">ДВОМІСНИЙ НОМЕР</h1>
      <p class="hero-room-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam
        consequat sunt nostrud amet.
      </p>
    <div class="hero-room-contacts">
      <a class="hero-room-address" href="https://goo.gl/maps/bPg521id5ucDGMdX6" target="_blank" rel="nofollow noopener noreferrer">
        Україна, м. Полтава, 
        вул.&#160;Маршала Бірюзова, 15
      </a>
      <ul class="hero-room-social-net">
        <li>
          <a href="#" class="social-net">
              <a href="#" class="social-net">
                  <img src="./img/instagram (2).svg" alt="instagram" class="social-net-icon" width="24" height="24">         
              </a>
          </a>
        </li>
        <li>
          <a href="#" class="social-net">
              <img src="./img/facebook.svg" alt="facebook" class="social-net-icon" width="24" height="24">         
          </a>
          </a>
        </li>
        <li>
          <a href="#" class="social-net">
              <img src="./img/telegram.svg" alt="telegram" class="social-net-icon" width="24" height="24">         
          </a>
        </li>
      </ul>
      <button class="room-price-button">Переглянути ціни</button>
    </div>
  </section>
  