<section class="hero">
  <div class="container">
    <h1 class="hero-title">MIMIHO</h1>
    <p class="hero-text">Ресторанно-готельний комплекс</p>
    <p class="hero-post-text-graph">СМАК ЖИТТЯ 24/7</p>
    <div class="container-btn-address">
      <div class="hero-address-tap">
        <address class="hero-address">
          <a class="hero-address-link link" href="https://goo.gl/maps/beKyGNSSrUfEZE1dA" target="_blank"
            rel="noopener noreferrer nofollow">
          </a>
          <a class="hero-address-text link" href="https://goo.gl/maps/beKyGNSSrUfEZE1dA" target="_blank"
            rel="noopener noreferrer nofollow">
            Україна, м. Полтава, вул. Маршала Бірюзова, 15
          </a>
        </address>
      </div>
      <div class="container-btn">
        <ul class="hero-btn-list">
          <li class="hero-btn-item">
            <button class="hero-btn-teble" type="button">
              Забронювати столик
            </button>
          </li>
          <li class="hero-btn-item">
            <button class="hero-btn-number" type="button">
              Забронювати номер
            </button>
          </li>
        </ul>
      </div>
    </div>
    <ul class="hero-soc-list">
      <li class="hero-soc-item">
        <a href="#" class="hero-soc-link">
          <svg class="hero-soc-icon" width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-instagram-2"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-item">
        <a href="#" class="hero-soc-link">
          <svg class="hero-soc-icon" width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-item">
        <a href="#" class="hero-soc-link">
          <svg class="hero-soc-icon" width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>