<section class="hero-rest">
    <h1 class="hero-rest-title">MIMIHO</h1>
    <p class="hero-rest-text1">Ресторан</p>
    <p class="hero-rest-text2">СМАК ЖИТТЯ 24/7</p>
    <a class="hero-rest-link" href="#">Україна, м. Полтава,
        вул. Маршала Бірюзова, 15</a>
    <button class="hero-rest-btn-teble" type="button">Забронювати столик</button>
    <button class="hero-rest-btn-menu" type="button">Переглянути меню</button>
    <ul class="hero-rest-soc-list">
        <li class="hero-rest-soc-item">
            <a href="#" class="hero-rest-soc-link">
                <svg class="hero-rest-soc-icon" width="#" height="#">
                    <use href="#"></use>
                </svg>
            </a>
        </li>
        <li class="hero-hotel-soc-item">
            <a href="#" class="hero-hotel-soc-link">
                <svg class="hero-hotel-soc-icon" width="#" height="#">
                    <use href="#"></use>
                </svg>
            </a>
        </li>
        <li class="hero-hotel-soc-item">
            <a href="#" class="hero-hotel-soc-link">
                <svg class="hero-hotel-soc-icon" width="#" height="#">
                    <use href="#"></use>
                </svg>
            </a>
        </li>
    </ul>
</section>