<section class="hero">
  <h1 class="hero-title">MIMIHO</h1>
  <p class="hero-text">Ресторанно-готельний комплекс</p>
  <p class="hero-post-text-graph">СМАК ЖИТТЯ 24/7</p>
  <a class="hero-link" href="#"
    >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
  >
  <button class="hero-btn-teble" type="button">Забронювати столик</button>
  <button class="hero-btn-number" type="button">Забронювати номер</button>
  <ul class="hero-soc-list">
    <li class="hero-soc-item">
      <a href="#" class="her-soc-link">
        <svg class="her-soc-icon" width="#" height="#">
          <use href="#"></use>
        </svg>
      </a>
    </li>
    <li class="hero-soc-item">
      <a href="#" class="hero-soc-link">
        <svg class="hero-soc-icon" width="#" height="#">
          <use href="#"></use>
        </svg>
      </a>
    </li>
    <li class="hero-soc-item">
      <a href="#" class="hero-soc-link">
        <svg class="hero-soc-icon" width="#" height="#">
          <use href="#"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
