<section class="hero-hotel">
  <div class="container">
  <h1 class="hero-hotel-title">MIMIHO</h1>
  <p class="hero-hotel-text">Готель</p>
  <a class="hero-hotel-link" href="#"
    ><svg class="hero-hotel-icon" width="20" height="20">
      <use href=""></use>
    </svg>Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
  >
  <button class="hero-hotel-btn-number" type="button">Забронювати номер</button>
  <button class="hero-hotel-btn-price" type="button">Переглянути ціни</button>
  <ul class="hero-hotel-soc-list">
    <li class="hero-hotel-soc-item">
      <a href="#" class="hero-hotel-soc-link">
        <svg class="hero-hotel-soc-icon" width="#" height="#">
          <use href="#"></use>
        </svg>
      </a>
    </li>
    <li class="hero-hotel-soc-item">
      <a href="#" class="hero-hotel-soc-link">
        <svg class="hero-hotel-soc-icon" width="#" height="#">
          <use href="#"></use>
        </svg>
      </a>
    </li>
    <li class="hero-hotel-soc-item">
      <a href="#" class="hero-hotel-soc-link">
        <svg class="hero-hotel-soc-icon" width="#" height="#">
          <use href="#"></use>
        </svg>
      </a>
    </li>
  </ul>
  </div>
</section>
