<section class="menu">
  <div class="container">
    <h2 class="menu-main-title">МЕНЮ РЕСТОРАНУ</h2>
    <div class="menu-wrap">
      <div>
        <table class="menu-hot-dish">
          <caption class="menu-title">
            Гарячі страви
          </caption>
          <tbody>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Борщ з телятини з квасолею</p>
                <p class="menu-dish-description">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </p>
              </td>
              <td class="menu-dish-weight">400 г</td>
              <td class="menu-dish-price">240 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Суп сирний з куркою</p>
                <p class="menu-dish-description">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </p>
              </td>
              <td class="menu-dish-weight">400 г</td>
              <td class="menu-dish-price">200 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Паста карбонара</p>
                <p class="menu-dish-description">
                  Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                </p>
              </td>
              <td class="menu-dish-weight">350 г</td>
              <td class="menu-dish-price">430 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Стейк зі свинини</p>
                <p class="menu-dish-description">
                  Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                  овочами
                </p>
              </td>
              <td class="menu-dish-weight">400 г</td>
              <td class="menu-dish-price">500 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Горбуша в соусі з білого вина</p>
                <p class="menu-dish-description">
                  Ніжна горбуша, вершковий соус на основі білого вина
                </p>
              </td>
              <td class="menu-dish-weight">400 г</td>
              <td class="menu-dish-price">400 грн</td>
            </tr>
          </tbody>
        </table>
        <table class="menu-garnish">
          <caption class="menu-title">
            Гарніри та закуски
          </caption>
          <tbody>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Запечені овочі</p>
                <p class="menu-dish-description">
                  Кабачок, перець, помідор, баклажан
                </p>
              </td>
              <td class="menu-dish-weight">200 г</td>
              <td class="menu-dish-price">230 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Картопля фрі</p>
                <p class="menu-dish-description">Картопля, соус томатний</p>
              </td>
              <td class="menu-dish-weight">150 г</td>
              <td class="menu-dish-price">160 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Картопля по-селянськи</p>
                <p class="menu-dish-description">
                  Картопля, спеції, соус пікантний
                </p>
              </td>
              <td class="menu-dish-weight">150 г</td>
              <td class="menu-dish-price">160 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Хрумкі соління з бочки</p>
                <p class="menu-dish-description">
                  Огірок солений, помідор квашений, квашена капуста, морква
                  по-корейськи
                </p>
              </td>
              <td class="menu-dish-weight">250 г</td>
              <td class="menu-dish-price">350 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Крильця курячі в медовому соусі</p>
                <p class="menu-dish-description">
                  Крильця курячі, гірчично-медовий соус, подається з морквою,
                  селерою і соусом блючиз
                </p>
              </td>
              <td class="menu-dish-weight">400 г</td>
              <td class="menu-dish-price">420 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <table class="menu-salads">
          <caption class="menu-title">
            Салати
          </caption>
          <tbody>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Цезар з куркою</p>
                <p class="menu-dish-description">
                  Куряче філе, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </p>
              </td>
              <td class="menu-dish-weight">230 г</td>
              <td class="menu-dish-price">450 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Цезар з креветками</p>
                <p class="menu-dish-description">
                  Тигрові креветки, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </p>
              </td>
              <td class="menu-dish-weight">230 г</td>
              <td class="menu-dish-price">300 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">Грецький салат</p>
                <p class="menu-dish-description">
                  Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                  листя салату, соус
                </p>
              </td>
              <td class="menu-dish-weight">230 г</td>
              <td class="menu-dish-price">280 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name">М’ясний салат</p>
                <p class="menu-dish-description">
                  Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                  болгарський перець, соус ранч
                </p>
              </td>
              <td class="menu-dish-weight">230 г</td>
              <td class="menu-dish-price">300 грн</td>
            </tr>
          </tbody>
        </table>
        <table class="menu-deserts">
          <caption class="menu-title">
            Десерти
          </caption>
          <tbody>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name deserts">Торт наполеон</p>
              </td>
              <td class="menu-dish-weight">230 г</td>
              <td class="menu-dish-price">300 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name deserts">Торт маковий</p>
              </td>
              <td class="menu-dish-weight">230 г</td>
              <td class="menu-dish-price">300 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name deserts">Тірамісу</p>
              </td>
              <td class="menu-dish-weight">120 г</td>
              <td class="menu-dish-price">260 грн</td>
            </tr>
          </tbody>
        </table>
        <table class="menu-drinks">
          <caption class="menu-title">
            Напої
          </caption>
          <tbody>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name drinks">Чай чорний/зелений</p>
              </td>
              <td class="menu-dish-weight">500 г</td>
              <td class="menu-dish-price">100 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name drinks">Еспресо</p>
              </td>
              <td class="menu-dish-weight">30 г</td>
              <td class="menu-dish-price">100 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name drinks">Американо</p>
              </td>
              <td class="menu-dish-weight">150 г</td>
              <td class="menu-dish-price">100 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name drinks">Капучино</p>
              </td>
              <td class="menu-dish-weight">200 г</td>
              <td class="menu-dish-price">160 грн</td>
            </tr>
            <tr>
              <td class="menu-dish">
                <p class="menu-dish-name drinks">Лате</p>
              </td>
              <td class="menu-dish-weight">200 г</td>
              <td class="menu-dish-price">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button type="button" class="booking-restoraunt-btn">
      Забронювати столик
    </button>
  </div>
</section>
