<section class="tripl-room">
    <div class="conteiner">
        <p class="trip-pre-title">Amet minim mollit non</p>
        <h3 class="trip-title">MIMIHO</h3>
        <h4 class="room-trip-title">ТРЬОХМІСНИЙ НОМЕР</h4>
        <p class="room-trip-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div class="room-img-trip">
            <picture class="img-room-trip">
                <source srcset="../img/hotel_hotelrooms_tablet.jpg" media="(mix-width: 1024px)">
                <source srcset="../img/hotel_hotelrooms_desktop.jpg" media="(min-width: 1280px)">
                <img src="../img/hotel_hotelrooms_mobile.jpg" alt="hotel room" width="400px" height="525px">
              </picture>
        </div>
        <div class="slide-img-trip">
            <img src="../img/slide-1-1x-tablet.jpeg" alt="arrangement-pf-bathroom-elements">
            <img src="../img/slide-2-1x-mobile.jpeg" alt="window">
        </div>
        <div class="slide-icons-tripl">
            <svg class="slide-icon">
                <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
            <svg class="slide-icon">
                <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </div>
    </div>
        <div class="tripl-room-button">
            <a rel="details" href="../page-room-third.html" class="lux-info">
                Детальніше
            </a>
            <button class="lux-price js-open-modal"data-modal="3">
                Переглянути ціни
            </button>
        </div>
</section>