<section class="room-lux">
    <div class="conteiner">
        <p class="pre-title">Amet minim mollit non</p>
        <h3 class="title">MIMIHO</h3>
        <h4 class="room-luxe-title">ДВОМІСНИЙ НОМЕР люкс</h4>
        <p class="room-luxe-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div class="room-img">
            <picture class="img-room" >
                <source 
                    srcset="./src/img/hotel_hotelrooms_desktop.jpg,
                            ./src/img/room-luxe-2x-desktop.jpeg 2x"
                    type="image/jpeg"
                    media="(min-width: 1280px)" />
                <source 
                    srcset="./src/img/room-lux1x.jpeg 1x,
                            ./src/img/room-lux2x-tablet.jpeg 2x"
                    type="image/jpeg"
                    media="(min-width: 1024px)" />
                <source 
                    srcset="./src/img/room-lux-1x-mobile.jpeg 1x,
                            ./src/img/room-lux-2x-mobile.jpeg 2x"
                    type="image/jpeg"
                    media="(min-width:320px)"/>
                <img href="./img/hotel_hotelrooms_desktop.jpg">
            </picture>
        </div>
        <div class="slide-img">
            <img src="../img/slide-1-1x-tablet.jpeg" alt="arrangement-pf-bathroom-elements">
            <img src="../img/slide-2-1x-mobile.jpeg" alt="window">
        </div>
        <div class="slide-icons">
            <svg class="slide-icon">
                <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
            <svg class="slide-icon">
                <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </div>
    </div>
        <div class="dooble-room-button">
            <a rel="details" href="../room-page.html" class="lux-info">
                Детальніше
            </a>
            <button class="lux-price js-open-modal" data-modal="3">
                Переглянути ціни
            </button>
        </div>
    
</section>