<section class="double-room">
    <div class="conteiner">
        <p class="pre-title">Amet minim mollit non</p>
        <h3 class="title">MIMIHO</h3>
        <h4 class="room-luxe-title">ДВОМІСНИЙ НОМЕР</h4>
        <p class="room-luxe-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div class="room-img">
            <img
            class="img-room" src="../img/hotel-img/img/hotel-img/room-lux-1x-mobile.jpeg" alt="room-luxe">
        </div>
        <div class="slide-img">
            <img src="../img/hotel-img/slide-1-1x-tablet.jpeg" alt="window">
            <img src="../img/room/room-luxe-slide2-1x.jpeg" alt="arrangement-pf-bathroom-elements">
        </div>
        <div class="dooble-room-button">
            <button class="lux-info">
                Детальніше
            </button>
            <button class="lux-price">
                Переглянути ціни
            </button>
        </div>
    </div>
</section>