<section class="double-room">
    <div class="conteiner">
        <p class="pre-title">Amet minim mollit non</p>
        <h3 class="title">MIMIHO</h3>
        <h4 class="room-luxe-title">ДВОМІСНИЙ НОМЕР</h4>
        <p class="room-luxe-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div class="room-img">
            <img
            class="img-room" src="./img/hotel-img/img/hotel-img/room-lux-1x-mobile.jpeg" alt="room-luxe">
        </div>
        <div class="slide-img">
            <img src="./img/slide-1-1x-tablet.jpeg" alt="arrangement-pf-bathroom-elements">
            <img src="./img/slide-2-1x-mobile.jpeg" alt="window">
        </div>
        <div class="slide-icons">
            <svg class="slide-icon">
                <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
            <svg class="slide-icon">
                <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </div>
    </div>
        <div class="dooble-room-button">
            <a rel="details" href="./page-room-second.html" class="lux-info">
                Детальніше
            </a>
            <button class="lux-price js-open-modal" data-modal="3">
                Переглянути ціни
            </button>
        </div>
</section>