<section class="double-room">
    <div class="container">
        <p class="pre-title">Amet minim mollit non</p>
        <h3 class="title">MIMIHO</h3>
        <h4 class="room-luxe-title">ДВОМІСНИЙ НОМЕР</h4>
        <p class="room-luxe-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <img 
        src="./img/hotel_hotelrooms_mobile.jpg" 
        srcset="./img/hotel_hotelrooms_mobile.jpg 244w,
        ./img/hotel_hotelrooms_tablet.jpg 400w,
        ./img/hotel_hotelrooms_desktop.jpg 460w"
        alt="room-luxe"
        class="for-two-img">
        <div class="slide-img">
            <img 
                src="./img/slide-1-1x-tablet.jpeg" 
                srcset="
                    ./img/slide-1-1x-tablet.jpeg 194w,
                    ./img/slide-1-1x-desktop.jpeg 254w"
                alt="arrangement-pf-bathroom-elements"
                class="slider-img">
            <img 
                src="
                ./img/slide-2-1x-mobile.jpeg" 
                srcset="
                ./img/slide-2-1x-mobile.jpeg 194w,
                ./img/slide-2-1x-desktop.jpeg 254w"
                alt="window"
                class="slider-img">
        </div>
        <div class="slide-icons">
            <svg class="slide-icon">
                <use href="../img/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
            <svg class="slide-icon">
                <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </div>
        <div class="dooble-room-button">
            <a rel="details" href="../page-room-second.html" class="lux-info">
                Детальніше
            </a>
            <button class="lux-price">
                Переглянути ціни
            </button>
        </div>
    </div>
</section>