.about-our-restaurant{
    padding-top: 16px;
    padding-bottom: 72px;
    background-color: #FFFDEE;
}

.about-our-restaurant> .container{
    text-align: unset;
}



.second-rest{
    display: flex;
    align-items: center;
}

.container-rest{
    flex-wrap: wrap;
    margin-bottom: 28px;
}


.pre-caption-rest{
font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.15;
color: var(--second-grey);
width: 190px;
height: 23px;
margin-bottom: 12px;
}

.caption-restaurant{
font-family: 'Film P3 Bold';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 1.07;
letter-spacing: 0.3em;
color: #494848;
width: 127px;
height: 43px;
margin-bottom: 12px;
}

.paragraph-restaurant{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--text-grey);
max-width: 258px;
height: 76px;
}

.rest-one{
width: 244px;
height: 322px;
background-color: var(--third-grey);
box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
border-radius: 2px;
position: relative;
left: 140px;
margin-bottom: 32px;

}



.rest-two{
width: 200px;
height: 278px;
background-color: var(--third-grey);
box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
border-radius: 2px;
}

.gold-paragraph-rest{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--brown-color);
    width: 163px;
    height: 120px;
    margin-left: 20px;
}


/* ------------------mobil----------------- */

@media screen and (min-width: 414px) {
    .container {
      max-width: 384px;
    }
  }
  
  /* ---------------------tablet----------------- */
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 994px;
    }

    .about-our-restaurant{
        padding-top: 120px;
        padding-bottom: 24px;
    }

    .about-our-restaurant> .container{
        text-align: unset;
        height: 1238px;
    }

    .first-rest{    
        display: flex;
        position: relative;
        left: 32px;
        flex-wrap: nowrap;
    }

    .second-rest{
        align-items: center;
        position: relative;
        top: -166px;
        left: 32px;
    }

    


    .container-rest{
        margin-right: 26px;
        margin-bottom: unset;
        height: 214px;
        margin-bottom: 142px;
    }
  
    .pre-caption-rest{
        width: 304px;
        height: 37px;
        font-size: 32px;
        line-height: 1.15;
        margin-bottom: 4px;
    }

    .caption-restaurant{
        margin-bottom: 24px;
        width: 202px;
        height: 69px;
        font-size: 64px;
        line-height: 1.08;
    }
        
        .paragraph-restaurant{
            min-width: 439px;
            height: 80px;
            font-size: 16px;
            line-height: 1.25;
        }

        .rest-one{
            width: 400px;
            height: 524px;
            box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
            position: relative;
            top: -152px;
            left: unset;
            margin-bottom: unset;
            }


            .rest-two{
                width: 350px;
                height: 500px;
                box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
            }

            .gold-paragraph-rest{
                width: 312px;
                height: 122px;
                font-size: 16px;
                line-height: 1.25;
                margin-left: 48px;
            }
  }
  
  /* ------------------------desktop------------------------ */
  
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1250px;
    }

    .about-our-restaurant{
        padding-top: 120px;
        padding-bottom: 118px;
    }

    .about-our-restaurant> .container{
        text-align: unset;
        height: 1275px;
    }

    .first-rest{
        left: 70px;
    }

    .second-rest{
        top: -198px;
    }

.container-rest{
    margin-right: 37px;
    margin-bottom: 162px;
}


    .paragraph-restaurant{
        min-width: 518px;
        height: 60px;
    }

    .rest-one{
        width: 460px;
        height: 574px;

    }
  
    .rest-two{
        width: 460px;
        height: 574px;   
    }

    .gold-paragraph-rest{
        margin-left: 32px;
    }



  }