.restaurant {
    padding-top: 16px;
    padding-bottom: 20px;
    background-color: #FFFDEE;
}

.restaurant-title {
font-family: 'Times New Roman', serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.15;
color: #B4B4B4;
margin-bottom: 12px;
text-align: start;
}

.restaurant-name {
font-family: 'Film P3 Bold';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 1.07;
letter-spacing: 0.3em;
color: #494848;
margin-bottom: 12px;
text-align: start;
}

.restaurant-text {
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--text-grey);
text-align: start;
}

.restaurant-text.top {
    margin-bottom: 28px;
    max-width: 258px;
    min-height: 76px;
}

.restaurant-text.btm {
margin-left: 20px;
color: var(--brown-color);
max-width: 163px;
}

.restaurant-img {
box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
border-radius: 2px;
}

.restaurant-img.top {
    margin-left: auto;
}

.restaurant-item-wrap.btm {
display: flex;
}

.btm {
    flex-direction: row-reverse;
    align-items: center;
} 

.restaurant-item:not(:last-child) {
margin-bottom: 32px;
}

.restaurant-wrap {
    margin-bottom: 32px;
}

.swiper-wrapper {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
}

@media screen and (min-width: 414px) {

   
}

@media screen and (min-width: 1024px) {

    .restaurant {
        padding-top: 120px;
        padding-bottom: 32px;
    }

    .restaurant-list {
        position: relative;
    }

    .restaurant-title {
        font-size: 32px;
        margin-bottom: 4px;
    }

    .restaurant-name {
        font-size: 64px;
        margin-bottom: 24px;
    }

    .restaurant-text.top {
        font-size: 12px;
        min-width: 439px;
    }

    .restaurant-text.btm {
        max-width: 312px;
    }

    .restaurant-img.top {
        width: 400px;
        margin-left: 26px;
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translatey(-15%);
    }

    .restaurant-img.btm {
        width: 350px;
    }

    .restaurant-item-wrap.top {
        display: flex;
    }

    .restaurant-item-wrap.btm {
        justify-content: flex-end;
    }

}

@media screen and (min-width: 1280px) {

    .restaurant-text {
        max-width: 518px;
    }

    .restaurant-img.top {
        margin-left: 90px;
        width: 460px;
    }

    .restaurant-img.btm {
        width: 460px;
    }
}