/* Стили для подложки */

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 60px 15px;
  border-radius: 2px;
  background-color: #fffdee;
  transition: 0.3s all;

  overflow: auto;
}

@media screen and (min-width: 414px) {
  .modal {
    width: 414px;
  }
}

@media screen and (min-width: 712px) {
  .modal {
    width: 712px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  fill: #444;
  cursor: pointer;
}
.modal__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #000000;
}

@media screen and (min-width: 712px) {
  .modal__title {
    font-size: 40px;
  }
}

.grup,
.input_grup,
.select_grup {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media screen and (min-width: 712px) {
  .grup {
    flex-direction: row;
    column-gap: 16px;
  }
}



/*  */

.reserv-form {
  margin-top: 40px;
}

/*--- ЗАБРОНЮВАТИ НОМЕР ---*/

.input-room-grup,
.room-select-two,
.room-grup {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media screen and (min-width: 712px) {
  .input-room-grup {
    flex-direction: row;
    column-gap: 16px;
  }

  .room-select-ona {
    display: flex;
    justify-content: end;
  }

  .room-select-two {
    flex-direction: row;
    column-gap: 16px;
  }
}

.input,
.select {
  width: 100%;
  /* height: 54px; */

  padding-top: 18px;
  padding-bottom: 18px;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #808080;

  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #c79002;
  border-radius: 2px;
  background-color: transparent;
}

@media screen and (min-width: 712px) {
  .input,
  .select {
    width: 288px;
    font-size: 24px;
  }
}

.input:focus,
.select:focus {
  outline: 1px solid #c79002;
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 2px 1px rgb(0 0 0 / 8%),
    0px 2px 2px rgb(0 0 0 / 12%);
}

.input::placeholder,
.input::placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
}
.input-text {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #c79002;
  margin-top: 8px;
  padding-left: 27px;
  text-align: left;
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;

  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
  cursor: pointer;
}

.select::-ms-expand {
  display: none;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 12px;
  background-image: url(../img/wrapper.svg);
  pointer-events: none;
  transform: rotate(180);
}

.reserved {
  width: 100%;
  height: 64px;
  margin-top: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #f3c653;
  border-radius: 2px;
  cursor: pointer;
}

.reserved:hover,
.reserved:focus {
  color: #000000;
  background: #f3c653;
  outline: 1px solid #f3c653;
}
