.details-of-our-restaurant{
    padding-top: 24px;
    padding-bottom: 40px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.65) , rgba(0, 0, 0, 0.65)) , url(../img/homepage_restaurant_bg_mobile.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    margin: 0 auto;
    width: 100%;
    height: 735px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.details-of-our-restaurant {
background-image: linear-gradient( rgba(0, 0, 0, 0.7) ,  rgba(0, 0, 0, 0.7)) , url(../img/bg-hom-restaurant-mobile2x.jpg);
}
}


.info-rest{  
    position: relative;
  left: 125px;
  width: 259px;
}

.swiper-det-rest{
  overflow: hidden;
}


.hero-name-restaurant{
width: 127px;
height: 43px;
margin-bottom: 12px;
font-family: 'Film P3 Bold';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 1.07;
letter-spacing: 0.3em;
color: var(--white-color);
}

.restaurant-name{
width: 127px;
height: 24px;
margin-bottom: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
letter-spacing: 0.02em;
color: var(--white-color);
}

.info-restaurant{
width: 259px;
height: 62px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--third-grey);
}


.set{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  /* position: relative;
  top: 445px; */
}


.book-a-table{
background: rgba(0, 0, 0, 0.4);
border: 2px solid var(--white-color);
border-radius: 25px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--accent-color); 
padding: 14px 24px;
margin-bottom: 16px;
height: 48px;
transition: border var(--transition) , bakcground var(--transition) ;
}

.book-a-table:hover,
.book-a-table:focus{
  background:var(--accent-color) ;
  color: var(--black);
  border-color: transparent;
  transition: var(--transition);
}

.restaurant-link{
display: flex;
justify-content: center;
align-items: center;
min-width: 236px;
height: 48px;
background: rgba(0, 0, 0, 0.4);
border: 2px solid var(--white-color);
border-radius: 25px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--accent-color); 
transition: border var(--transition) , bakcground var(--transition) ;
}

.restaurant-link:hover,
.restaurant-link:focus{
  background:var(--accent-color) ;
  color: var(--black);
  border-color: transparent;
  
}

.swiper-det-list{
  gap: 86px;
  display: flex;
}

.set-swiper{
  display: flex;
}

.det{
  fill: var(--white-color);
}

/* ------------------pre-mobil----------------- */

@media screen and (max-width: 1023px) {

.details-of-our-restaurant{
  height: auto;
}

.set{
  align-items: center;
  margin-top: 80px;
}

.right{
  position: relative;
  bottom: 200px;
}

.book-a-table{
  min-width: 232px;
  
}
.swiper-det-list{
  gap: 19px;
}
  .info-rest{
  position: unset;
  margin-left: auto;
}

.set-swiper{
  margin-top: 48px;
  display: flex;
  flex-direction: column-reverse;
}

.pic-hidden{
  display: none;
}

.det-rest{
  justify-content: start;
}
 
  }


  
  /* ---------------------tablet----------------- */
  @media screen and (min-width: 1024px) {
  


    .details-of-our-restaurant{
      padding-top: 48px;
      padding-bottom: 47px;
      background-image:linear-gradient(rgba(0, 0, 0, 0.65) , rgba(0, 0, 0, 0.65)) , url(../img/homepage_restaurant_bg_tablet.jpg);
      background-repeat: no-repeat;
      background-size:cover ;
      height: 620px;
  }
  
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .details-of-our-restaurant {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7) ,  rgba(0, 0, 0, 0.7)) , url(../img/bg-hom-restaurant-tablet2x.jpg);
  }
  }

  .info-rest{
    left: 263px;
    width: 610px;
  }

  .set{
    justify-content: end;
    margin-right: 39px;
    /* position: relative;
    top: 262px;
    left: 32px; */
  }

  .swiper-det-list{
    gap: 34px;
  }

  .hero-name-restaurant{
    width: 202px;
    height: 69px;
    font-size: 64px;
    line-height: 1.07;
    }
    
    .restaurant-name{
      width: 126px;
  height: 29px;
    font-size: 24px;
    line-height: 1.15;
    }
    
    .info-restaurant{
      width: 610px;
      height: 44px;
    font-size: 16px;
    line-height: 1.25;
    }

    .det-rest{
      justify-content: start;
      margin-left: 280px;
     }


  }
  
  /* ------------------------desktop------------------------ */
  
  @media screen and (min-width: 1280px) {
    


   .det-rest{
    justify-content: start;
    margin-left: 330px;
   }

    .details-of-our-restaurant{
      background-image:linear-gradient(rgba(0, 0, 0, 0.65) , rgba(0, 0, 0, 0.65)) , url(../img/homepage_restaurant_bg_desktop.jpg);
      background-repeat: no-repeat;
      background-size:cover ;
  }
  
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .details-of-our-restaurant {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7) ,  rgba(0, 0, 0, 0.7)) , url(../img/bg-hom-restaurant-dekstop2x.jpg);
  }
  }

  .info-rest{
    left: 323px;
  }


.set{
  justify-content: end;
  margin-right: 32px;
 
  /* left: 70px; */
}


.set-swiper{
  display: flex;
  margin-top: 40px;
  padding-left: 70px;
}

  }