.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #0e0c07;
  display: flex;
  justify-content: center;
}

/* Logo */

.footer-logo {
  font-family: Film P3 Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  color: var(--accent-color);
  margin-right: 85px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--brown-color);
}

/* Menu */

.footer-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}

.footer-link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--brown-color);
}
.footer-socmedia-hidden {
  display: none;
}

.footer-socmedia {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-self: flex-end;
}
.footer-socmedia-link {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socmedia-link:hover,
.footer-socmedia-link:focus {
  border-color: var(--brown-color);
}
/* positions */
/* mob */
/* .footer-container > .container {
  max-width: 354px;
  width: 100%;
} */

.footer-logo-pol {
  display: flex;
}

.footer-menu-soc {
  margin-left: auto;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-social-media {
  margin-top: 32px;
}

.footer-socmedia-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socmedia-icon:hover,
.footer-socmedia-icon:focus {
  fill: var(--brown-color);
}
/* mobile */
@media screen and (min-width: 414px) and (max-width: 1023px) {
}

/* tablet */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  /* .footer-container > .container {
    max-width: 668px;
    width: 100%;
  } */
  .footer {
    padding-top: 80px;
    padding-bottom: 83px;
  }
  .footer-logo {
    font-size: 64px;
    line-height: 1.07;
    letter-spacing: 0.3em;
  }

  .footer-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
  }

  /* soc-media */
  .footer-socmedia {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 12px;
  }

  .footer-socmedia-list {
    width: 144px;
    height: 40px;
  }

  .footer-socmedia-hidden {
    display: flex;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socmedia-hidden:hover,
  .footer-socmedia-hidden:focus {
    color: var(--brown-color);
  }
  .footer-socmedia-link {
    height: 100%;
    border: 0.5px solid var(--accent-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socmedia-icon {
    margin-right: 12px;
    margin-left: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socmedia-icon:hover,
  .footer-socmedia-icon:focus {
    fill: var(--brown-color);
  }
  /* position */

  .footer-menu {
    margin-right: 137px;
  }

  .footer-menu-soc {
    display: flex;
    align-items: center;
    margin-right: auto;
    align-content: center;
  }

  .footer-logo-pol {
    margin-left: auto;
    margin-right: 153px;
  }
}

/* desctope */
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer-logo {
    font-size: 64px;
    line-height: 1.07;
    letter-spacing: 0.3em;
  }

  .footer-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
  }

  /* soc-media */
  .footer-socmedia {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 12px;
  }

  .footer-social-media {
    margin-left: 0 auto;
    margin-top: 0;
    display: inline-block;
  }

  .footer-socmedia-list {
    width: 144px;
    height: 40px;
  }
  .footer-socmedia-hidden {
    display: flex;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socmedia-hidden:hover,
  .footer-socmedia-hidden:focus {
    color: var(--brown-color);
  }
  .footer-socmedia-link {
    height: 100%;
    border: 0.5px solid var(--accent-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding-left: 12px;
  }

  .footer-socmedia-icon {
    fill:aliceblue;
    margin-right: 12px;
    margin-left: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socmedia-icon:hover,
  .footer-socmedia-icon:focus {
    fill: var(--brown-color);
  }
  /* position */

  /* .footer-container > .container {
    max-width: 806px;
    width: 100%;
  } */

  .footer-menu-soc {
    display: flex;
    margin-left: 199px;
    margin-right: auto;
    align-content: center;
  }

  .footer-logo-pol {
    margin-left: auto;
    margin-right: 153px;
  }

  .footer-menu {
    margin-right: 199px;
  }
}
