.hero-rest {
    text-align: center;
    width: 100%;
    background-color: #474747;
    padding-top: 126px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/hero_bg_restaurant_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}

.hero-rest-title {
    font-family: 'Film P3 Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: var(--white-color);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.hero-rest-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 56px;

}

.hero-rest-text-graph {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 1.12;
    letter-spacing: 0.05em;
    color: var(--white-color);
}

.hero-rest-address-tap {
    position: absolute;
    /* top: 64px;
    right: 15px; */
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    max-width: 210px;
    height: 47px;

}

.hero-rest-address {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 11px;
}

.hero-rest-address-link::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../img/location.svg);
    background-size: contain;
    display: inline-flex;
}

.hero-rest-address-text {
    display: inline-block;
    text-align: left;
    max-width: 179px;
    margin-left: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #E5E5E5;
}

.hero-rest-btn-teble {
    min-width: 236px;
    height: 48px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid var(--white-color);
    border-radius: 25px;
    transition: var(--transition);
}


.hero-rest-btn-teble:hover,
.hero-rest-btn-teble:focus {
    color: var(--accent-color);
    background-color: var(--white-color);
    border-color: var(--accent-color);
}

.hero-rest-btn-menu {
    min-width: 232px;
    height: 48px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid var(--white-color);
    border-radius: 25px;
    transition: var(--transition);
}

.link-menu{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 236px;
    height: 48px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid var(--white-color);
    border-radius: 25px;
    transition: var(--transition);
    margin-left: auto;
    margin-right: auto;
}

.link-menu:hover,
.link-menu:hover,
.hero-rest-btn-menu:hover,
.hero-rest-btn-menu:focus {
    color: var(--accent-color);
    background-color: var(--white-color);
    border-color: var(--accent-color);
}




@media screen and (max-width: 1023px) {
   
    .hero-rest-list{
     margin-left: auto;
     margin-right: auto;
    }

    .hero-rest-title {
        font-size: 90px;
    }

    .hero-rest-text-graph {
        font-size: 32px;
    }
    .hero-rest-soc-list{
        display: flex;
        gap: 20px;
    }
    .container-btn{
        margin-bottom: 58px;
    }

    .hero-rest-item:first-child{
        margin-bottom: 24px;
    }

    .hero-rest{
        padding-bottom: 20px;
    }

.hero-rest-address-tap{
       top: 64px;
     right: 15px;  
}

.hero-rest-soc-list{
    margin-top: 58px;
}
}
@media screen and (min-width: 1024px) and (max-width:1279px) {

    .hero-rest {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/hero_bg_restaurant_tablet.jpg);
    }
    .hero-rest-list{
        display: flex;
        margin-left: auto;
        gap: 40px;
    }
    .hero-rest-address-tap {
        position: absolute;
        max-width: 285px;
        bottom: 65px;
    }

    .hero-rest-text{
    }

    .hero-rest-btn{
        display: flex;
        margin-left: auto;
   
    }

    .hero-rest-soc-list{
    margin-top: 25px;
    display: flex;
    padding-bottom: 15px;
    gap: 20px;
    }

    .hero-rest-btn-number:first-child{
        margin-right: 40px;
    }

    .container-btn{
    margin-top: 145px;
    }

.hero-rest{
    position: relative;
}

}

@media screen and (min-width: 1280px) {
  
    .hero-rest{
        position: relative;
    }

    .hero-rest {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/hero_bg_restaurant_desktop.jpg);
    }

    .hero-rest-soc-list {
        display: none;
    }

    .hero-rest{
        padding-bottom: 65px;
    }
    .container-btn{
        margin-top: 144px ;
        
    }

    .hero-rest-list{
        display: flex;
        margin-left: auto;
        gap: 40px;
    }

     .address-btn{
        margin-top: 145px;
     }
}
