:root{
  --white-color: #FFFFFF;
  --accent-color:#F3C653;
  --black-color:#000000;
  --text-grey:#7A7A7A;
  --brown-color:#C79002;
  --second-grey:#B4B4B4;
  --btn-color:#00000066;
  --third-grey:#BABABA;
  --modal-text:#808080;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}


/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
  min-width: 320px;
  max-width: 414px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
.container {
  min-width: 1024px;

}}

@media screen and (min-width: 1280px){
.container {
  min-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;

}}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}