root{
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body{
    width: 100vw;
    margin: 0;
    background-color: #fffdee;
}
.conteiner-trip{
    position: relative;
    max-width: 414px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.tripl-room{
    /* position: relative; */
    background-color: #F0ECD6;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: end;
}
.trip-pre-title {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;

    color: #B4B4B4;
    margin-bottom: 8px;
    text-align: end;

}
.trip-title {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: #494848;

    margin: 0;
    margin-bottom: 32px;
}
.room-trip-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.05em;
    color: #000000;

    margin: 0 ;
    margin-bottom: 12px;
}
.room-trip-description {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #7A7A7A;
    max-width: 258px;
    margin-bottom: 32px;
    margin-left: 83px;

    text-align: start;
}
.room-img-trip{
    display: flex;
    justify-content: start;
}
.img-room{
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    
    max-width: 244px;
    height: 322px;
}
.slide-img{
    margin-top: 32px;
    display: flex;
    gap: 16px;
}
.slide-img-trip{
    margin-top: 32px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;

}
.lux-info{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    
    background: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    color: #F3C653;

    padding: 14px 64px;

    transition: var(--transition);
}
.lux-price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    background: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    color: #F3C653;
    cursor: pointer;
    padding: 14px 37px;
    transition: var(--transition)
}
.lux-info:focus,
.lux-info:hover,
.lux-price:focus,
.lux-price:hover{
    color: var(--accent-color);
    background-color: var(--white-color);
    border-color: var(--accent-color);
}
.tripl-room-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.slide-icons-tripl{
    width: 400px;
    display: flex;
    justify-content: end;
    gap: 34px;
    margin-bottom: 20px;
}
@media screen and (min-width: 414px) {
    .conteiner{
        position: relative;
        width: 414px;
    }
    
}
@media screen and (min-width: 1024px) {
    .conteiner-trip{
        width: 430px;
        margin-right: 0%;

    }
    .trip-pre-title {
        font-size: 32px;
        line-height: 1.16;
        margin-left: auto;
    }
    .trip-title{
        font-size: 64px;
        line-height: 1.07;
        letter-spacing: 0.3em;
        margin-left: auto;
    }
    .room-trip-title{
        width: 400px;
        font-size: 30px;
        line-height: 1.13;
        margin-left: auto;
        text-align: start;
    }
    .room-trip-description{
        font-size: 16px;
        max-width: 400px;
        margin-bottom: 174px;
        margin-left: auto;
    }
    .room-img-trip{
        position: absolute;
        top: -97px;
        left: 112px;
        display: block;
        width: 400px;
        height: 524px;
    }
    .slide-img{
        margin-top: 0;
    }
    .slide-icons-tripl{
        width: 400px;
        justify-content: flex-start;
        margin-left: auto;
        margin-top: 32px;
        margin-bottom: 0;
    }
    .tripl-room-button{
        position: absolute;
        bottom: 105px;
        left: 47px;
    }
}       
@media screen and (min-width: 1280px) {
    .conteiner-trip{
        max-width: 453px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .room-trip-title{
        width: 455px;
        font-size: 36px;
        line-height: 1.15;
    }
    .room-trip-description{
        max-width: 455px;
    }
    .trip-title{
        margin-bottom: 72px;
    }
    .tripl-room-button{
        bottom: 105px;
        left: 85px;
    }
}