body{
    width: 100vw;
    margin: 0;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.room-lux{
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #fffdee;
}
.pre-title {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;

    color: #B4B4B4;
    margin-bottom: 8px;
}
.title {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: #494848;

    margin: 0;
    margin-bottom: 32px;
}
.room-luxe-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.05em;
    color: #000000;

    margin: 0 ;
    margin-bottom: 12px;
}
.room-luxe-description {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #7A7A7A;
    max-width: 258px;
    margin-bottom: 32px;
}
.room-img{
    display: flex;
    justify-content: end;

}
.img-room{
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    width: 244px; 
    height: 322px;
    margin-left: auto;

    display: flex;
    justify-content: end;

}
.slide-img{
    overflow: hidden;
    margin-top: 32px;
    margin-bottom: 20px;
    display: flex;
    gap: 16px;
    position: relative;
}
.slider-img{
    width: 194px;
    height: 194px;
}
.slide-icons{
    display: flex;
    gap: 34px;
    margin-bottom: 20px;
    overflow: hidden;
}
.slide-icon{
    display: inline-block;
    width: 32px;
    height: 32px;
}
.dooble-room-button{
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 414px) {
    .container{
        width: 414px;
    }
    
}
@media screen and (min-width: 1024px) {
    .container{
        width: 994px;
        position: relative;
    }
    .room-lux{
        padding-top: 62px;
        padding-bottom: 40px;
    }
    .double-room{
        padding-top: 62px;
        padding-bottom: 40px;
    }
    .tripl-room{
        padding-top: 62px;
        padding-bottom: 40px;
    }
    .pre-title {
        font-size: 32px;
        line-height: 1.16;
    }
    .title{
        font-size: 64px;
        line-height: 1.07;
        letter-spacing: 0.3em;
    }
    .room-luxe-title{
        font-size: 30px;
        line-height: 1.13;
    }
    .room-luxe-description{
        font-size: 16px;
        max-width: 439px;
        margin-bottom: 174px;
    }
    .img-room{
        width: 400px;
        height: 524px;
        position: absolute;
        top: -97px;
        right: 112px;
    }
    .dooble-room-button{
        position: absolute;
        bottom: 105px;
        right: 47px;
    }
    .slide-img{
        margin-top: 0;
        margin-bottom: 37px;
        gap: 40px;
    }
    .slide-icons{
        width: 423px;
        justify-content: end;
        margin: 0;
    }
}    
@media screen and (min-width: 1280px) {
    .container{
        width: 1100px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .room-lux{
        padding-top: 72px;
        padding-bottom: 40px;
    }
    .tripl-room{
        padding-top: 72px;
        padding-bottom: 40px;
    }
    .double-room{
        padding-top: 72px;
        padding-bottom: 40px;
    }
    .room-luxe-title{
        font-size: 36px;
        line-height: 1.15;
    }
    .room-luxe-description{
        margin-bottom: 188px;
    }
    .title{
        margin-bottom: 72px;
    }
    .slide-icons{
        width: 548px;
    }
    .slider-img{
        width: 254px;
        height: 254px;
        margin-bottom: 40px;
    }
    .img-room{
        width: 460px;
        height: 574px;
        position: absolute;
        top: -125px;
        right: 77px;
    }
    .dooble-room-button{
        bottom: 169px;
        right: -15px;
    }
}   
